* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#genNewBtn {
  color: white;
  background-image: linear-gradient(
    to right,
    darkred,
    darkorange,
    rgb(219, 219, 9), /* no dark yellow ;(*/ 
    darkgreen,
    darkblue
  );
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

span {
  background-color: lightgrey;
}
